/cntry_name.csv
/cntry_name_link.csv
/csvjson.py
/diff._csv.py
/flaglinknonempty.csv
/flagscrap.py
/jsonconvert.py
/link.csv
/linknonempty.csv
/link_image.json
/medals.csv
/photoscrapper.py
/playerimgscrap.py
/scrap_clmn_to_list.py
/specifc_clmn_csv.py